
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Julius+Sans+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*----Global Variables----*/
:root{
  --accent-color: #82CDE0;
  --base-color: #eff7fa;
  --text-color: #2C2D32;
  --input-color: #ffffff;
  --shadow-color: #342e2d;
  --highlight-color: #82E0D5;
  --error-color: #e08292;
}

/*-----Styles-----*/
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  
}
html{
	font-family: Noto Sans, sans-serif;
  font-size: 16pt;
  font-style: normal;
  font-kerning: inherit;
  text-align: center;
}
body{
  height: 100vh;
  background-image: url(../pictures/bg_abstract_grey.jpg);
  background-size: 3000px;
  display: flex;
  flex-direction: column;     /* controls direction of main axis */
  align-items: center;      /* to position child elements along vertical (cross) axis*/
  justify-content: center;  /* to position child elements along horizontal (main) axis */
}
body::-webkit-scrollbar{
  display: none;
}
.wrapper{
  background-color: none;
  height: max(100%, 600px);
  width: max(100%, 600px);
  border-radius: 30px;
  box-shadow: 0 5px 20px none;
  display: flex;
  flex-direction: column;     /* controls direction of main axis */
  align-items: center;      /* to position child elements along vertical (cross) axis*/
  justify-content: center;  /* to position child elements along horizontal (main) axis */
}
form {
  background-color: var(--base-color);
  height: max(50%, 600px);
  width: max(50%, 600px);
  top: 25%;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 5px 20px var(--shadow-color); 
  position: absolute;
  display: flex;
  flex-direction: column;     /* controls direction of main axis */
  align-items: center;      /* to position child elements along vertical (cross) axis*/
  justify-content: center;  /* to position child elements along horizontal (main) axis */
}
.logInForm{
  opacity: 1;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);    /*offsets anchor point by 50%. IMPORTENT when element must be centered*/
  transition: 0.6s ease-in-out;
}

.signUpForm{
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 150%;
  transform: translateX(-50%);
  transition: 0.6s ease-in-out;
}

form > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2rem;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  padding: 10px;
  color: var(--text-color);
}
.social-icons-bt{
  background-color: var(--input-color);
  border-radius: 8px;
  padding: 8px;
  height: 50px;
  width:  50px;
  margin: 0 5px;
}
.social-icons-bt:hover{
  background-color: var(--highlight-color);
}
.social-icons-bt:focus {
  background-color: var(--accent-color);
}

.separator{
  background-color: var(--text-color);
  height: 2px;
  width: 350px;
  position: absolute;
}
.inputClass{
  width: 450px;
  margin: 5px 20px 5px 20px;
}

form label{
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  background-color: var(--accent-color);
  border-radius: 10px 0 0 10px;
 
  color: var(--base-color);
  fill: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
form input{
  flex-shrink: 0;
  height: 50px;
  width: 400px;

  border-radius: 0 10px 10px 0;
  background-color: var(--input-color);
  border: 1px solid var(--input-color);
  padding: 5px;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input:hover{
  border: 1px solid var(--accent-color);
}
form input::placeholder{
  opacity: 0.8;
}
form button{
  cursor: pointer;
}
form button:active{
  transform: scale(0.9);
}

.vision{
  height: 30px;
  width: 450px;
  position: absolute;
  padding: 1%;
  transform: translateX(0);
  display: flex;
  justify-content: right;
  align-items: center;
  visibility: hidden;
  
}
.visionButton{
  cursor: pointer;
  visibility: visible;
}

.forgot{
  width: 450px;
  text-align: left;
  /*background-color: #e08292; */
  font-size: 0.7rem;
  font-weight: 450;
  display: flex;
  justify-content: left;
}

.signButton{
  padding: 10px 20px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--base-color);
  background-color: var(--accent-color);
  border-radius: 8px;
  border-style: none;
}
.signButton:hover{
  background-color: var(--highlight-color);
}

form p{
  font-size: medium;
  color: var(--text-color);
  padding: 5px;
  margin: 10px 0;
}
.switch{
  margin-top: 0.5em;
}
.switchButton{
  padding: 4px 6px;
  color: var(--base-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
}
.switchButton:hover{
  background-color: var(--highlight-color);
}


/*----Hidden Items----*/
.hidden{
  visibility: hidden;
}

/*----Social Media Buttons*/
.activeButton{
  background-color: var(--accent-color);
}

/*----Errors----*/

form div.incorrect label{
  background-color: var(--error-color);
}
form div.incorrect input{
  border-color: var(--error-color);
}
#errorMessageLogIn{
  color: var(--error-color);
}
#errorMessageSignUp{
  color: var(--error-color);
}

/*----Responsive----*/
@media(max-width: 600px){
  form{
   width: min(600px, 100%);
   height: max(600px, 100%);
   top: 0%;
   border-radius: 0;
  }
  .separator{
    width: min(350px, 90%);
  }
  .inputClass{
    width: min(450px, 90%);
  }
  form input{
    width: min(400px, 100%);
  }
  .vision{
    width: min(450px, 90%);
  }
  .forgot{
    width: min(450px, 100%);
    justify-content: center;
  }
}
@media(max-width: 250px){
  .social-icons-bt{
    margin: 0;
  }
}
@media(max-height:600px){
  form{
    height: max(600px, 100%);
    width: max(600px, 100%);
    top: 0%;
    border-radius: 0;
   }
}